<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/Styles/Form.css" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Library website</title>
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="text-center">
    <div class="cover-container d-flex flex-column" style="padding-top: 15px">

        <header class="masthead mb-5">
            <div class="inner">
                <h3 class="masthead-brand">Library Database </h3>
                <nav class="nav nav-masthead justify-content-center">
                    
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/User">Users</a>
                    <a class="nav-link" href="/Loan">Loans</a>
                    <a class="nav-link" href="/Book">Books</a>
                    <a class="nav-link" href="/Home/About">About</a>
                    <a class="nav-link" href="/Home/Contact">Contact</a>
                </nav>
            </div>

        </header>

        <main role="main" class="inner cover">
            @RenderBody()
        </main>
    </div>
    <footer class="main-footer">
        <div class="inner">
    <hr />
            <div>
                <img class="logo" src="http:///drive.google.com/uc?export=view&id=1z2KznsJ73TwH-Q2jRBs6zv1fTXZCI2bC" />
            </div>
            <p class="col-sm">
                Library website < <a target="_blank" class="linkedText" href="https://github.com/Angel-Davila">Angel Davila</a>  @DateTime.Now.Year >
            </p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
