@model Library.Models.Book
<link rel="stylesheet" href="~/Styles/Form.css" type="text/css" />

@{
    ViewBag.Title = "Details";
}

<h2>Book details</h2>
<hr />

<div class="container">
    <div class="row">
        <h2> @Html.DisplayFor(model => model.Title) </h2> 
        
        <div class="col-md-3">
            <img class="coverImage" src="@Html.DisplayFor(model => model.ImgCover)" />
        </div>
        <div class="col-md-5">
            <table>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Title): </th>
                    <td> </td>
                    <td>@Html.DisplayFor(model => model.Title)</td>
                </tr>
                <tr>
                    <th class="tableSection">@Html.DisplayNameFor(model => model.Author): </th>
                    <td> </td>
                    <td>@Html.DisplayFor(model => model.Author)</td>
                </tr>
                <tr>
                    <th class="tableSection">@Html.DisplayNameFor(model => model.Genre): </th>
                    <td> </td>
                    <td>@Html.DisplayFor(model => model.Genre)</td>
                </tr>
                <tr>
                    <th class="tableSection">@Html.DisplayNameFor(model => model.Date): </th>
                    <td> </td>
                    <td>@Html.DisplayFor(model => model.Date)</td>
                </tr>
                <tr>
                    <th class="tableSection">@Html.DisplayNameFor(model => model.PageNumber): </th>
                    <td> </td>
                    <td>@Html.DisplayFor(model => model.PageNumber)</td>
                </tr>
                <tr>
                    <th class="tableSection">@Html.DisplayNameFor(model => model.Price): </th>
                    <td> </td>
                    <td>@Html.DisplayFor(model => model.Price)</td>
                </tr>
            </table>



        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
